.gridItem {
  width: 10rem;
  flex-direction: column;
  float: left; }
  .gridItem__icon {
    width: 2rem;
    height: 2rem; }
  .gridItem__name {
    width: 10rem;
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
